#logo{
    top: 0%;
    right: 0%;
}
#subir{
    background-color: red;
    color: white;
}
body {
    background-image: url('ucsc.png');
    height: 90vh;
    background-size: cover;
    position: relative;
    background-position: center;

}
label{
    color:navy ;
}