head{
    color: rgb(0, 0, 0);
}
body{
    color: rgb(0, 0, 0);
    background-color: white;
    
}
button {
    background-color: #3ec1d3; 
    color: white;             
    border: none;             
    padding: 10px 20px;       
}
#boton-contacto:hover{
    background-color: #0056b3;
}
button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
}
#boton-contacto{
    background-color: #3ec1d3;
    border: none;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    vertical-align: bottom;
}
#b1{
  display: flex;
  justify-content: 0; 
  align-items: 0;     
}
#b2{
    position: absolute;
    top: 25%;
    left: 10%;
}
#b3{
     position: absolute;
    top: 40%;
    left: 10%;
}

body {
    background-image: url('fondo.png');
    height: 90vh;
    background-size: cover;
    position: relative;
    background-position: center;

}